
.left{
background-color: #DA70D6;
margin-left: 71em;
padding-top: 32em;
color:#DA70D6;
display: flex;
color:#DA70D6;
}
footer{
    background-color: #EE82EE;
    padding-top: 2em;
    color: #EE82EE;
    display: flex;
}
.right{
    background-color: #DDA0DD;
    padding-bottom: 20px;
    margin-bottom: -87px;
    color:#DDA0DD;
    display:flex;
}
.top{
    background-color: #8B008B;
    margin-left:-1148px;
    padding-right:1128px;
    display: flex;
    margin-top: -26.6em;
    color:#8B008B;
}
